vti_encoding:SR|utf8-nl
vti_author:SR|DUARTEC-NOTE\\DUARTEC
vti_modifiedby:SR|DUARTEC-NOTE\\DUARTEC
vti_timelastmodified:TR|26 Aug 2013 23:25:14 -0000
vti_timecreated:TR|26 Aug 2013 22:12:35 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|26 Aug 2013 23:22:53 -0000
vti_cacheddtm:TX|26 Aug 2013 23:22:53 -0000
vti_filesize:IR|2536
vti_cachedlinkinfo:VX|S|layout.css S|../images/background.gif
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/background.gif
vti_syncwith_ftp.isemear.com.br\:21/semeares:TX|26 Aug 2013 23:22:53 -0000
vti_syncofs_ftp.isemear.com.br\:21/semeares:TW|27 Aug 2013 21:43:37 -0000
vti_syncofs_ftp.isemear.com.br\:21/www/semeares:TW|29 Sep 2013 17:50:45 -0000
vti_syncwith_ftp.isemear.com.br\:21/www/semeares:TX|26 Aug 2013 23:22:53 -0000
