@import url(layout.css);
body {
	font-size: small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	background-color: #FFFFFF;
	color:#89923f;
	/*background-image: url('../images/background-2.png');*/
    background-size: 100% 40%;
	background-position: top center;
    background-repeat: no-repeat;
	margin:60px;
	margin-top:0px;
	
}
#map_canvas
{
	width:700px;
	height:400px;
}

#page_content{
	width:700px;
	height:100px;
}

#container {
	width: 800px;
	margin: 0 auto;
	background-repeat: repeat-y;
}
#masthead {
	text-align: right;
	margin-right: 10px;
	margin-left: 10px;
	
	padding: 0;
/*	background-color: #cde;*/
}
#navigation {
	margin-right: 10px;
	margin-left: 10px;
	background-color:#5F6827;
	overflow: hidden;

}
#column_l {
/*	width: 420px;*/
	margin: 0 0 0 10px;
	padding: 0 10px 10px 10px;
}

#column_r {
	width: 193px;
	margin: 0;
	float: right;
	background-color: #eef;
	position: relative;
	right: 10px;
	padding-right: 5px;
	padding-left: 5px;
}

#footer {
	text-align: center;
	background-color: #ffffff;
	margin-right: 10px;
	margin-left: 10px;
	overflow: hidden;
	padding: 2px;
}
/* Styles for Masthead */
#masthead img {
	float: left;
}
#masthead p {
	color:black;
	font-size: x-small;
	text-align: right;
	margin: 10px 10px 0 10px;
}
/* Styles for Navigation */
#navigation ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
}
#navigation a {
	color: #ffffff;
	text-decoration: none;
	margin: 0 1px;
	padding: 5px;
	display: block;
	border: 0px;
}
#navigation a:hover {
	background-color: #89923f;
	border:  #89923f;
}
/* Styles for Content */
h1 {
	color: #f0964a;
	font-size: 2.0em;
}
h2 {
	color: #f0964a;
	font-size: 1.75em;
}
h3 {
	color: #f0964a;
	font-size: 1.5em;
}
h4 {
	color: #f0964a;
	font-size: 1.25em;
}
h5 {
	color: #f0964a;
	font-size: 0.75em;
}
h6 {
	color: #f0964a;
	font-size: 0.5em;
}
big {
	color: #f0964a;
	font-size: medium;
}
#column_r p {
	color:black;
	font-size: x-small;
	text-align: left;
	margin: 0;
	padding: 5px;
}
#column_r h4 {
	margin-bottom: 0;
}
#column_r ul {
	margin-left: 5px;
	padding-top: 0;
	padding-left: 10px;
}
#column_r ul li {
	font-size: x-small;
	display: list-item;
	list-style-position: outside;
}
/* Styles for Footer */
#footer p {
	color:black;
	font-size: x-small;
	margin-top: 2px;
	margin-bottom: 6px;
}
#footer a {
	color: #fff;
	text-decoration: underline;
}
#footer a:hover {
	color: #000;
	text-decoration: none;
}
/* Styles for Links */
a {
	color: #456;
	font-weight:bold;
	text-decoration: underline;
}
a:hover {
	color: #965;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}

img.facil{
	height: 60px;
}

#table1 table, tr, td, th {
     border: 0;
}