@charset "UTF-8";
#corpo {
	background-color:#f7dcb2;
}
#corpo_inscricao {
}
#icones{
	padding-top:70px;
	padding-left:4%;
}
#icones img {
	padding-left:10%;
}
#links{
	padding-top:30px;
	padding-left:5%;
}
#links a{
	margin-left: 9.5%;
	font-weight:500;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	background-color: #a68652;
	color:#FFF;
	font-family: "Century Gothic";
	margin-top:10px;
	font-size: 23px;
}
#datas {
padding-left:;	
}
#datas h4{
	padding-top:20px;
	padding-left:14%;
	float:left;
	color:#a68652;
	font-family: "Century Gothic";
}
