vti_encoding:SR|utf8-nl
vti_author:SR|DUARTEC-NOTE\\DUARTEC
vti_modifiedby:SR|DUARTEC-NOTE\\DUARTEC
vti_timelastmodified:TR|26 Aug 2013 22:12:35 -0000
vti_timecreated:TR|26 Aug 2013 22:12:35 -0000
vti_cacheddtm:TX|26 Aug 2013 22:12:35 -0000
vti_filesize:IR|2559
vti_cachedlinkinfo:VX|S|layout.css S|../images/background.gif
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/background.gif
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
